<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JoustyBet</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
        <script type="text/javascript">

            var bet = undefined;
            var loggedIn = false;

            function hideLoading() {
                $('#loading_screen').css('display', 'none');
                $('#signup').css('display', 'inline');
            }

            function doStateInit(bets_open) {
                $('#signup').css('display', 'none');
                $('#logout_form').css('display', 'inline');
                loggedIn = true;
                if (bets_open) {
                    openBets();
                } else {
                    closeBets();
                }
            }

            function openBets() {
                if (!loggedIn)
                    return;
                $('#betting_buttons').css('display', 'block');
                $('#subtext').text("Betting is open!");
            }

            function closeBets() {
                $('#betting_buttons').css('display', 'none');
                $('#subtext').text("Betting is now closed! ");
            }

            function handleBetOk(guess) {
                $('#betting_buttons').css('display', 'none');
                $('#header').text("You have bet on: " + guess);
                bet = guess;
            }
            $(document).ready(function() {
                var socket = io.connect('http://' + document.domain + ':' + location.port + '/jousty');

                socket.on('connection', function(payload) {
                    //do some client init
                    var session = localStorage.getItem('joust_session');
                    if (session != null) {
                        //ok, so we have a previous session, let's try and resume it
                        console.log('read session ' + session);
                        socket.emit('attempt_session_resume', {
                            session_id: session
                        })
                    }

                    hideLoading();


                    localStorage.setItem('joust_session', payload['session_id']);
                });

                socket.on('resume_success', function(payload) {
                    hideLoading();
                    console.log(payload);
                    var bets_open = payload['bets_open'];
                    if (payload['player']['current_bet'] != undefined) {
                        handleBetOk(payload['player']['current_bet']);
                        $('#signup').css('display', 'none');
                        $('#logout_form').css('display', 'inline');
                        $('#subtext').text("Betting is open!");
                        loggedIn = true;
                    } else {
                        doStateInit(bets_open);
                    }
                });

                socket.on('join_ok', function(payload) {
                    doStateInit(payload['state']);
                });

                socket.on('join_fail', function(payload) {
                    var error = payload['error'];
                    $('#signup-error-text').html(error);
                });

                socket.on('bet_ok', function(payload) {
                    handleBetOk(payload['guess']);
                });

                socket.on('resume_failed', function(payload) {
                    hideLoading();
                });

                socket.on('open_bet', function(payload) {
                    console.log('should open betting');
                    openBets();
                    if (bet != undefined) {
                        var previous_winner = payload['previous_winner'];
                        if (previous_winner === undefined) {
                            $('#subtext').text('Bets are opening back up')
                        } else if (previous_winner === bet) {
                            $('#subtext').text('You won! Good job!');
                        } else {
                            $('#subtext').text('You lost!  You bet on ' + bet + ' but ' + previous_winner + ' won');
                        }
                    }

                    bet = undefined;
                });

                socket.on('close_bet', function(event) {
                    console.log('should close betting');
                    closeBets();
                });

                $('form#signup').submit(function(event) {
                    console.log('submitting name');
                    var name = $('#username_field').val();
                    console.log('got name ' + name);
                    socket.emit('signup', {username: name});
                    return false;
                });

                $('.signup-button').click(function(event) {
                    console.log('submitting name in new hook');
                    var name = $('#username_field').val();
                    console.log('got name ' + name);
                    socket.emit('signup', {username: name});
                    console.log('and away...');
                });

                function postVote(vote) {
                    console.log('posting vote ' + vote);
                    socket.emit('vote', {guess: vote});
                }


                $(".btn-lg").click(function(event) {
                    var color = event.target.innerText;
                    postVote(color);
                });

                $("#logout_button").click(function(event) {
                    socket.emit('logout', {});
                    loggedIn = false;
                    localStorage.setItem('joust_session', null);
                    location.reload(/* forceReload = */ true);
                });
            });
        </script>

        <style>

            body {
                /* criminal told me this makes me a good developer */
                background-color: #FEFEFE;
                white-space: normal;
            }

            .btn-lg {
                width: 100%;
                margin-bottom: 20px;
            }

            .btn-blue {
                background-color: #0000FF;
            }

            .btn-yellow {
                background-color: #FFFF00;
                color: #000000;
            }

            .btn-green {
                background-color: #00FF00;
                color: #000000;
            }

            .btn-purple {
                background-color: #8200FF;
            }

            .btn-orange {
                background-color: #FF5000;
            }

            .btn-pink {
                background-color: #FF41A5;
            }

            .btn-cyan {
                background-color: #00FF8C;
                color: #000000;
            }

            .btn-magenta {
                background-color: #FF0032;
            }

            #betting_buttons {
                display: none;
            }

            #logout_form {
                display: none;
            }


        </style>
    </head>
    <body>
        <div class="container">
            <h1 id="header">Welcome to JoustyBet!</h1>
            <h2 id="subtext"></h2>

            <div id="loading_screen">
                <h1>Loading...</h1>
            </div>

            <form action="#" id="signup" style="display: none;">
                <div id="username-field-div">
                    <label for="username_field" class="control-label">Username:</label>
                    <input class="frontend-control" type="text" name="username" id="username_field"/>
                    <span class="username-error" id="signup-error-text"></span>
                </div>
                <button type="button" class="btn btn-primary signup-button">Sign Up</button>
            </form>

            <div id="logout_form">
                <button type="button" class="btn btn-danger" id="logout_button">Logout</button>
            </div>

            <div id="betting_buttons">
                <button type="button" class="btn btn-primary btn-lg btn-blue">BLUE</button>
                <button type="button" class="btn btn-primary btn-lg btn-yellow">YELLOW</button>
                <button type="button" class="btn btn-primary btn-lg btn-green">GREEN</button>
                <button type="button" class="btn btn-primary btn-lg btn-purple">PURPLE</button>
                <button type="button" class="btn btn-primary btn-lg btn-orange">ORANGE</button>
                <button type="button" class="btn btn-primary btn-lg btn-pink">PINK</button>
                <button type="button" class="btn btn-primary btn-lg btn-cyan">CYAN</button>
                <button type="button" class="btn btn-primary btn-lg btn-magenta">MAGENTA</button>
            </div>

            <div id="faq">
                <h3>Frequently Asked Questions</h3>

                <p>
                    <b>What is this game called?</b> <br />
                    Johann Sebastian Joust
                </p>
                <p>
                    <b>Did you make this game?</b> <br />
                    No I did not.  I just like this game a lot.  I did however make this website and modify the game to allow
                    this betting to work.
                </p>
                <p>
                    <b>Who helped you make the mod?</b> <br />
                    <a href="https://twitter.com/LtHummus" target="_blank">LtHummus</a> made the server part and the hacks to Johann Sebastian Joust.  <a href="https://github.com/hexicube" target="_blank">Hexicube</a> made the user interface that you see on the projector.
                </p>
                <p>
                    <b>What is the mod written in?</b> <br />
                    The server backend is written in Python using the Flask framework (+ SocketIO for web sockets).  The UI is written in Java with libgdx.
                </p>
                <p>
                    <b>How can I find out where/where/when you set up to play?</b><br />
                    You can follow me on Twitter: <a href="https://twitter.com/LtHummus" target="_blank">@LtHummus</a>.  I will tweet when and where I set up.
                </p>
                <p>
                    <b>Are you being paid to run this?</b><br />
                    Nope!  I do this just for fun.  I am a just a normal, regular PAX attendee that happens to bring a bunch of crap with me.
                </p>
                <p>
                    <b>Is this game available for me to buy?</b><br />
                    Yes.  It is available for <a target="_blank" href="http://store.steampowered.com/app/277850/">Linux, Mac,</a> <a target="_blank" href="https://store.playstation.com/#!/en-us/search/q=sportsfriends">PS3, and PS4</a> as part of a bundle called Sportsfriends.
                    (Note the PS4 version only supports up to 4 players, but the others support up to 7).
                </p>
                <p>
                    <b>What other equipment do you have to run this?</b><br />
                    <ul>
                        <li>Early 2011 MacBook Pro</li>
                        <li>8 PS Move Controllers (+ some for backups)</li>
                        <li><a href="https://www.ionaudio.com/products/details/Block-Rocker-iPA76A" target="_blank">ION Block Rocker iPA76A Speaker</a></li>
                    </ul>
                </p>
                <p>
                    <b>How do you do the secret rainbow taunt?</b><br />
                    Not telling.
                </p>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>

</html>